.image-hover{
        padding:1px;
        border: 1px solid gray;
        border-radius: 6px;
      ;
}
.image-hover:hover{
        padding:2px;
        border:4px solid #004080;
        border-radius: 6px;
}